@font-face{
    font-family: fontAliens;
    src: url(fontAliens.ttf);
}

@font-face{
    font-family: fontBrandon;
    src: url(fontBrandon.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.todo-container {
    display: flex;
}

/*#####################################################################*/

.body {
    height: auto;
    width: 100%;
    padding-top: 70px;
    padding-left: 10%;
    display: flex;
    justify-content: center;
}

.gallery {
    width: 50%;
}

.photo-container {
    position: relative;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2vh;
    grid-auto-flow: dense;
}

.card-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.card-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-out;
    cursor: pointer;
}

.image-name-container {
    /*border: 1px black solid;*/
    width: 100%;
    text-align: center;
    font-family: fontBrandon, sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.card-container:hover > .text-container {
    opacity: 1;
    visibility: visible;
}

.card-container:hover > .image-container {
    filter: blur(6px);
}

.card-container:first-child {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.card-container:nth-child(2n+3) {
    grid-row-start: span 2;
}

